#playedCards {
    padding: 20px;
    text-align: center;
}

.playedCards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#playerCards {
    padding: 20px;
    text-align: center;
}

#playerCards.active-turn {
    background: green;
}

.playerCards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    width: 75px;
    height: 100px;
    border: 3px solid #aaa;
    background: #fff;
}

.playerCards-list .card:hover {
    transform: scale(1.2);
}

#bid-window {
    padding: 20px;
    text-align: center;
}

.bid-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bidNumber {
    margin: 5px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 3px solid #aaa;
    background: #fff;
}

.bidNumber.selected {
    background: lightgreen;
}

.bidNumber:hover {
    cursor: pointer;
    background: rgb(48, 235, 63);
}