@font-face {
    font-family: 'MyWebFont';
    src: url('/font/pirate.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bgio-client {
    background: url('/img/background2.jpg');
    background-size: cover;
    background-position: right;
}

#gameWindow {
    display: flex;
    flex-direction: column;
    font-family: 'IM Fell English SC', serif;
    font-family: 'MyWebFont', serif;
    font-size: 1.5em;
    height: 100vh;
}

.header {
    height: 60px;
    background-color: #f3d7636b;

    h1 {
        margin: 0 20px;
        float: left;
    }

    &-info {
        float: right;
        margin: 0 20px;
    }
}

.gameContent {
    display: flex;
    flex-direction: row;
    height: 100%;

    .rightColumn {
        width: 20%;
    }
    .leftColumn {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

h1, h2, h3 {
    margin: 0;
    text-shadow: 0 0 4px gold;
}

#board,
.bidWindow,
.playerCardsWindow {
    display: flex;
    justify-content: center;
}

#board {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.playedCardsWindow {
    padding: 20px;
    text-align: center;

    &-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

#playerCards {
    padding: 20px;
    text-align: center;
    min-width: 50%;
}

#playerCards.active-turn {
    background: lightgreen;
}

.card {
    cursor: pointer;
    margin: 5px;
    font-size: 12px;
    width: 150px;
    height: 200px;
    border: 2px solid rgb(223, 223, 223);
    background: #fff;
    border-radius: 20px;
    position: relative;

    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;

    img {
        object-fit: contain;
        max-height: 100%;
    }
}

.playerCardsWindow-cards .card:hover {
    transform: scale(1.2) !important;
    z-index: 100;
}

.playerCardsWindow-cards {
    &.five {
        .card:nth-child(1) { left: 100px; transform: rotate(-15deg) translateY(20px); }
        .card:nth-child(2) { left: 50px; transform: rotate(-5deg); }
        .card:nth-child(3) { left: 0px; }
        .card:nth-child(4) { left: -50px; transform: rotate(5deg); }
        .card:nth-child(5) { left: -100px; transform: rotate(15deg) translateY(20px); }
    }
    &.six {
        .card:nth-child(1) { left: 250px; }
        .card:nth-child(2) { left: 150px; }
        .card:nth-child(3) { left: 50px; }
        .card:nth-child(4) { left: -50px; }
        .card:nth-child(5) { left: -150px; }
        .card:nth-child(6) { left: -250px; }
    }
    &.seven {
        .card:nth-child(1) { left: 300px; }
        .card:nth-child(2) { left: 200px; }
        .card:nth-child(3) { left: 100px; }
        .card:nth-child(4) { left: 0px; }
        .card:nth-child(5) { left: -100px; }
        .card:nth-child(6) { left: -200px; }
        .card:nth-child(7) { left: -300px; }
    }
    &.eight {
        .card:nth-child(1) { left: 350px; }
        .card:nth-child(2) { left: 250px; }
        .card:nth-child(3) { left: 150px; }
        .card:nth-child(4) { left: 50px; }
        .card:nth-child(5) { left: -50px; }
        .card:nth-child(6) { left: -150px; }
        .card:nth-child(7) { left: -250px; }
        .card:nth-child(8) { left: -350px; }
    }
    &.nine {
        .card:nth-child(1) { left: 400px; }
        .card:nth-child(2) { left: 300px; }
        .card:nth-child(3) { left: 200px; }
        .card:nth-child(4) { left: 100px; }
        .card:nth-child(5) { left: 0px; }
        .card:nth-child(6) { left: -100px; }
        .card:nth-child(7) { left: -200px; }
        .card:nth-child(8) { left: -300px; }
        .card:nth-child(9) { left: -400px; }
    }
    &.ten {
        .card:nth-child(1) { left: 450px; }
        .card:nth-child(2) { left: 350px; }
        .card:nth-child(3) { left: 250px; }
        .card:nth-child(4) { left: 150px; }
        .card:nth-child(5) { left: 50px; }
        .card:nth-child(6) { left: -50px; }
        .card:nth-child(7) { left: -150px; }
        .card:nth-child(8) { left: -250px; }
        .card:nth-child(9) { left: -350px; }
        .card:nth-child(10) { left: -450px; }
    }
}


button {
    cursor: pointer;
    font-family: 'MyWebFont', serif;
    margin: 20px 10px 10px;
    padding: 10px 30px;
    font-size: 1.5rem;
    color: black;
    background: rgb(0,123,255);
    background: linear-gradient(0deg, goldenrod 0%, gold 100%);
    border: 1px solid gold;
    border-radius: 40px;
    align-self: center;
    width: auto;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;

    &:hover {
        color: rgb(128, 104, 0);
    }

    &:active {
        background-color: #0369d6;
        transform: translateY(2px);
    }
}

.winnerWindow {
    width: auto;
    margin: 20px auto;
    font-size: 1.5em;

    h2 {
        font-size: 1.5em;
    }

    ul {
        list-style-type: decimal;
    }
}

.playerCardsWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px 0;
    }

    .card.cardAllowed {
        border: 3px solid #26e200;
        box-shadow: 0 0 10px 5px #26e200;
    }
}

.tigresWindow {
    width: 550px;
    margin: 10px auto;
    padding: 20px;
    background: lightgrey;
    text-align: center;
    border-radius: 40px;
    border: 4px solid grey;

    &-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .tigresOption {
        margin: 5px;
        padding: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        width: auto;
        height: 25px;
        line-height: 25px;
        border: 3px solid #aaa;
        background: #fff;
        border-radius: 10px;

        &.selected {
            background: lightgreen;
        }

        &:hover {
            cursor: pointer;
            background: rgb(48, 235, 63);
        }
    }
    
}

.bidWindow {
    &-content {
        margin: 10px auto;
        padding: 20px;
        background: lightgrey;
        text-align: center;
        border-radius: 20px;
        border: 2px solid darkgoldenrod;
        -moz-box-shadow: .2em .2em .5em #333;
        -webkit-box-shadow: .2em .2em .5em #333;
        box-shadow: .2em .2em .5em #333;
        background: url('/img/background2.jpg');
        background-position: top;

        p {
            margin: .2em;
            text-shadow: 0 0 4px gold;
            font-weight: bold;
        }
    }

    &-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .bidWindow-number {
        margin: 5px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: .75em;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border: 2px solid silver;
        background: radial-gradient(silver, white);
        border-radius: 50px;
        -moz-box-shadow: .2em .2em .5em #333;
        -webkit-box-shadow: .2em .2em .5em #333;
        box-shadow: .2em .2em .5em #333;

        &:hover {
            cursor: pointer;
            background: radial-gradient(gold, yellow);
        }

        &.selected {
            background: radial-gradient(yellow, gold);
            border: 2px solid gold;
        }

        &.notselected {
            display: none;
        }
    }
}

.scoreBoardWindow {
    margin: 10px;

    &-table {
        font-size: 1em;
        border-spacing: 0px;
        background-color: lightgray;

        td {
            border: black 1px solid;
            padding: 15px 5px 0px;
            white-space: nowrap;
            text-align: right;
            position: relative;
            min-width: 40px;

            &.active {
                background: lightgreen;
            }

            span.playerBid {
                font-size: .5em;
                border-right: black 1px solid;
                border-bottom: black 1px solid;
                padding: 0 5px;
                position: absolute;
                top: 0;
                left: 0;
            }

            span.roundPoints {
                text-decoration: none;
                color: rgb(83, 83, 83);
                font-size: .5em;
                border-left: black 1px solid;
                border-bottom: black 1px solid;
                padding: 0 5px;
                position: absolute;
                top: 0;
                right: 0;

                &.won {
                    color: blue;
                }

                &.lost {
                    text-decoration: line-through;
                    color: darkred;
                }
            }
        }
    }
}

#player-window table.scoreTable td.active {
    background-color: lightgreen;
}

#player-window table.scoreTable td {
    min-width: 250px;
}